@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply bg-[#F6F1E8] antialiased;
}

::selection {
  @apply bg-[#8C6A3A] text-white;
}

